/* common styles starts */

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700');




body,
html {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body{
    background-image: url(../images/bg3.jpg);
    height: 100%;
    width: 100%;
    overflow: hidden;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    background-attachment: fixed;
    top: 0;
    background-position: center;
    color: #fff;
}
a,
a:focus,
a:hover {
    text-decoration: none;
    color: inherit;
}


ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

section {
    min-height: 700px;
}

button,
button:focus {
    outline: none;
    box-shadow: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.action-button {
    background: linear-gradient(to left, #3f51b5, #00c8aa);
    background-color: transparent;
    border-radius: 25px;
    min-width: 130px;
    font-weight: 600;
    padding: 10px 30px;
    margin-bottom: 0;
    margin-right: 25px;
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    transition: background 0.3s;
}

.action-button:hover {
    background: linear-gradient(to right, #3f51b5, #00c8aa);
    transition: background 0.3s;
}


.description {
    font-size: 15px;
    font-weight: 300;
    text-transform: capitalize;
    margin-bottom: 10px;
    color: #3a3e40;
}
p.description b{
    color: #4ebdab;
}

.bg-trans{
    background-color: transparent;
}
/*common styles ends*/

.social{
    position: absolute;
    bottom: 50px;
}
.social span{
    margin: 0px 15px;
    font-size: 18px;
    display: inline-block;
    cursor: pointer;
}

/* Overlay Navigation Starts*/

.logo {
    position: relative;
    height: 60px;
    width: 60px;
    background-color: white;
    border: none;
    border-radius: 6px;
    top: 30px;
    left: 15px;
    opacity: 1;
    color: #7a7777;
    padding: 0px;
    line-height: 60px;
    text-align: center;
    z-index: 1;
}

#overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  position: fixed;
  left: 0;
  z-index: 99;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
}

.overlay-menu ul li a{
    font-size: 40px;
    padding: 6px 0;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 0;
}
#overlay div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#overlay ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
}

/* Overlay Navigation styles ends */


/*smart-menu indicators starts*/

.section-indicators .nav-link.js-scroll-trigger.dot {
    display: block;
    height: 7px;
    padding: 2px;
    width: 7px;
    background-color: rgb(206, 206, 206);
    border-radius: 2px;
    border: none;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    z-index: 99999;
}

.section-indicators {
    display: block;
    position: fixed;
    right: 20px;
    bottom: 300px;
    z-index: 999;
}


.section-indicators .nav-item .nav-link.active.js-scroll-trigger.dot {
    background-color: #00c8aa;
    transition: 0s all;
}

.section-down-indicators .nav-link {
    display: inline-block;
    position: relative;
    padding: 0;
    text-align: center;
    top: 40px;
    left: 12px;
    color: rgba(255, 255, 255, 0.50);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: lighter;
}

.section-down-indicators .nav-item i {
    position: relative;
    padding-left: 0px;
    padding-top: 5px;
    font-size: 20px;
    left: 30px;
    display: inline-block;
    margin: 0 auto;
    border: 1px solid;
    height: 40px;
    border-radius: 100%;
    width: 40px;
}

a.down-icon span {
    display: inline-block;
    position: relative;
    top: 40px;
    right: 29PX;
    text-align: center;
}

a.down-icon span:hover {
    color: #ffffff;
    transition: 0.3s;
}

/*smart-menu indicators ends */


.banner p.description{
    color: #fff;
}

.banner-tittle {
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 300;
    line-height: 70px;
    margin: 10px 0;
}

.banner .description {
    max-width: 530px;
}

.banner  .action-button i{
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    margin-left: 10px;
}
.buttons small {
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: lighter;
}

.buttons small i {
    margin-right: 5px;
}

/*banner styles starts*/



/*section commom styles starts*/
.sub-tittle {
    font-size: 15px;
    font-weight: 100;
    position: relative;
    bottom: -10px;
    color: #111;
}

.section-tittle .tittle {
    font-weight: 300;
    color: #111;
}

.section-tittle {
    font-size: 40px;
    color: #111;
    padding-top: 20px;
    padding-bottom: 30px;
    font-weight: lighter;
}

.clr-border {
    height: 2px;
    width: 15%;
    background: linear-gradient(to left, #3f51b5, #00c8aa);
    margin: 0 auto;
    position: relative;
    bottom: 30px;
    display: inline-block;
}

section{
    background-color: #fff;
}

/*section commom styles ends*/


/*third-section styles*/

.second .description {
    font-size: 12px;
    font-weight: 400;
    line-height: 23px;
}



/*third-section styles ends*/


/*features-section styles stats*/

.image-slider {
    display: block;
    width: 100%;
    height: auto;
}


.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #ee4499 !important;
}

.content-box {
    min-height: 200px;
    max-width: 95%;
    padding: 0 10px;
    text-align: left;
}

.content-box .icon {
    font-size: 35px;
    color: #00c8aa;
    display: block;
}

.content-box .icon-tittle {
    font-size: 16px;
    font-weight: 400;
    padding:20px 0 10px 0;
    text-transform: capitalize;
    color: #121619;
}
.third .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px;
    width: 20%;
    float: right;
}
.third .owl-theme .owl-dots .owl-dot span{
    width: 7px;
    height: 7px;
    margin: 4px 3px;
    border-radius: 3px;
}

.third .owl-theme .owl-nav {
    margin-top: 0px; 
    float: left;
}
.third .owl-theme .owl-dots{
    float: right;
}
.third .owl-carousel .owl-nav .owl-prev,
.third .owl-carousel .owl-nav .owl-next{
    color: rgb(153, 152, 153);
    font-size: 12px;
    margin: 0px 5px;
    padding: 0px 7px;
    background: rgba(214, 214, 214, 0);
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid rgb(153, 152, 153);
    transition: 0.3s;
}
.third .owl-carousel .owl-nav .owl-prev:hover,
.third .owl-carousel .owl-nav .owl-next:hover{
    color: rgb(255, 255, 255);
    background: rgb(36, 178, 140);
    border: 1px solid rgb(29, 135, 106);
}

.third .owl-carousel {
    margin-top :15px;
    margin-bottom: 15px;
}
/*features section styles ends*/

/*image-zoom animations starts*/

.image-zoom .container-box:hover .image {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.image-zoom .container-box {
    overflow: hidden;
}

.image-zoom .image {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.product-block {
    width: 50%;
    float: left;
    position: relative;
    overflow: hidden;
    height: 50vw;
   /* height: 33.33333vh;
    max-height: 33.33333vh;*/
}

.product-block .text-block {
    position: absolute;
    bottom: 15px;
    color: white;
    z-index: 59;
    left: 15px;
    transition: 0.4s;
}

.product-block:hover .text-block {
    bottom: -70px;
    transition: 0.7s;
}
.layer{
    height: 100px;
    display: inline-block;
    width: 100%;
    bottom: 0px;
    position: absolute;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(99, 99, 99, 0));
}

.product-block .text-block .text {
    font-weight: 300;
    font-size: 30px;
    opacity: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
   /* text-shadow: 1px 1px 2px #6f6d6d;*/
}

.product-block .text-block .help-text {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
    /*text-shadow: 1px 1px #5e5e5e;*/
}
.product-block  img{
    height: -webkit-fill-available;
}


/*image-zoom  animations ends*/


/*contact-us section styles starts*/
.fifth input, 
.fifth input:focus, 
.fifth textarea, 
.fifth textarea:focus {
    border: 2px solid #efefef;
    outline: none;
    font-size: 14px;
    box-shadow: none;
    min-height: 50px;
    border-radius: 4px;
    color: #898a8b;
    margin-bottom: 30px;
    border-color: #e7e7e7;
}

.sub-help-text {
    font-weight: 200;
    font-size: 11px;
    position: relative;
    float: right;
    color: #0d0e12;
}

.fifth .description {
    font-size: 13px;
    line-height: 25px;
}

.fifth .description a {
    font-weight: bold;
    color: #00c8aa;
    text-decoration: none;
}

.fifth .description b {
    font-weight: 600;
}

.fifth .action-button {
    margin-top: 20px;
}


.footer-tag{
    float: left;
    position: relative;
    top: 30px;
}
/*contact-us-section styles ends*/

@media (max-width: 450px) {
.product-block{
       width: 100% !important;
    flex-basis: 100% !important;

}
.product-block img{
width: 100% !important;
}
}
@media (max-width: 1366px) {
.right-part {
    width: 100%;
    transition: 0.2s;
    position: relative;
    left: 0;
}
.left-part {
    position: relative;
    width: 100%;
    left: 0%;
    height: 700px;
}
.right-part section.first{
    display: none;
}
.banner .content{
    position: relative;
    top: 45%;

}
.second .description{
font-size: 15px;
}
.product-block {
    width: 50%;
    float: left;
    cursor: zoom-in;
    position: relative;
    overflow: hidden;
   /* max-height: 100vw;
    height: 100vw;*/
    height: 100vh;
}
.clr-border{
    width: 10%;
}
.product-block img{
    height: 50vw;
    width: 50vw;
}
}

@media (min-width: 1367px) {

section {
    min-height: 750px;
}
.product-block img{
    height: -webkit-fill-available;
    width: 100%;
}
.left-part{
    position: fixed;
    top: 30%;
    transition: 0.2s;
    left: 5%;
}

.right-part{
    transition: 0.2s;
    width: 50%;
    position: relative;
    left: 50%;
}

.section-tittle{
    padding-top: 50px;
}


.product-block{
    height: 17vw;
}
.right-part section.first{
     min-height: 770px;   
}
#nav-icon.menu-icon{display: none;}

.logo{
    position: fixed;
    left: 85px;
    }
.social{
    bottom: -100px;
}
.section-indicators .nav-link.js-scroll-trigger.dot{
   height: 8px;
    padding: 2px;
    width: 8px;
    margin: 7px auto;
}
.section-indicators span.nav-item{
    position: relative;
    display: block;
    width: 23px;
    text-align: center;
    margin: auto;
    height: 10px;
}

.section-indicators .nav-item .poppup-link{
    display: none;
    transition: 0.4s;
}

.section-indicators .nav-item:hover .poppup-link {
    position: absolute;
    display: inline-block;
    transition: 0.4s;
    font-size: 11px;
    background-color: #54c8a9;
    color: #fff;
    left: auto;
    top: -5px;
    right: 26px;
    font-weight: 700;
    border-radius: 10px;
    padding: 2px 13px;
    text-align: center;
    text-transform: capitalize;
}
.action-button{
    border-radius: 40px;
    padding: 15px 30px;
    font-size: 21px;
}
}
/*The end of all styles*/


#nav-icon {
  position: fixed;
  margin: 0 auto;
  width: 45px;
  height: 45px;
  z-index: 999;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  background-color: #3f52b5;
    top: 25px;
    right: 120px;
    text-align: center;
    display: inline-block;
    color: #fff;
    border-radius: 100%;
}

#nav-icon span {
   position: absolute;
    display: block;
    width: 26px;
    left: 9px;
    height: 2px;
    background: white;
    border-radius: 2px;
    opacity: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 16px;
}

#nav-icon span:nth-child(2) {
  top: 22px;
  transition: 0s;
}

#nav-icon span:nth-child(3) {
  top: 28px;
}

#nav-icon.animate-icon span:nth-child(1) {
  top: 21px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon.animate-icon span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon.animate-icon span:nth-child(3) {
  top: 21px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}



/*preloader styles starts*/

.loading{
    color: #84a7d3;
    position: fixed;
    top: 65%;
    left: 46.5%;
    font-size: 20px;
    font-weight: lighter;
    display: block;
}
.preload {
    position: fixed;
    top: 0;
    opacity: 0.96;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    z-index:9999990;
    height: 100%;
    width: 100%;}
.spinner {
    width: 60px;
    height: 60px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    -webkit-animation: nice-rotate 2.0s infinite linear;
    animation: nice-rotate 2.0s infinite linear;
}
.dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #007bff;
    border-radius: 100%;
    -webkit-animation: nice-bounce 2.0s infinite ease-in-out;
    animation: nice-bounce 2.0s infinite ease-in-out;
}
.dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}
@-webkit-keyframes nice-rotate {
    100% {
    -webkit-transform: rotate(360deg);
}
}
@keyframes nice-rotate {
    100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
}
@-webkit-keyframes nice-bounce {
    0%, 100% {
    -webkit-transform: scale(0);
}
50% {
    -webkit-transform: scale(1);
}
}
@keyframes nice-bounce {
    0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
}
50% {
    transform: scale(1);
    -webkit-transform: scale(1);
}
}



/*preloader styles ends*/